body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    z-index: 1;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 10px 0px;
    position: fixed;
    width: 100%;
    top: 0;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.brand{
    margin:0px 9% 0px 6%;
}

.navbar-toggle {
    display: none;
}
.img-brand{
    width:115%;
    height:55px;
}
.icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    background-color: #fff;
    margin: 4px 0;
}

.brand a {
    color: #fff;
    text-decoration: none;
    font-size: 1.5em;
}

.brandName {
    margin-left: 10px;
}

.search {
    width: 50%;
    padding: 5px;
    font-size: 1em;
    margin-left: 1%;
    margin-right: 1%;
}

.glyphicon-search {
    padding: 5px;
    font-size: 11px;
    border: none;
}

.btn-finds {
    width: 80%;
    padding: 5px;
    font-size: 1em;
}

.btn-reg {
    padding: 5px;
    margin-right: 10px;
    cursor: pointer;
    color: white;
    text-decoration: none;
}

.btn-log {
    padding: 5px;
    cursor: pointer;
    color: white;
    text-decoration: none;
}

.btn-cart {
    color: white;
}

    .btn-cart:hover {
        color: orange;
        text-decoration:none;
    }

.btn-reg:hover {
    color: red;
    text-decoration: none;
}

.btn-log:hover {
    color: red;
    text-decoration: none;
}

@media (max-width: 768px) {
    .navbar-toggle {
        display: block;
    }

    .buttons {
        display: none;
    }
}
/*slide and menu*/
.container {
    display: flex;
    height: auto;
    margin-top: 80px;

}


.row {
    display: flex;
}
.menu {
    width: 340px; 
    background-color: #f9f9f9; 
    padding: 20px;
    border-right: 1px solid #ddd;
    max-height: 90vh;
    overflow-y: auto; 
}
.d-list .item {
    margin-bottom: 20px; 
}
.item_menu {
    display: flex;
    padding: 10px;
    border-bottom:1px black solid;
}
.item_menu:hover {
    color:white;
    background:green;
}
    .item_menu:hover a {
        color: lightgreen;
    }
.item_menu_span {
    flex-shrink: 0;
    width: 115px;
    height: 80px;
    overflow: hidden;
}
    .item_menu_span img {
        width: 100%;
        height: auto;
    }
.content_blog_item {
    flex-grow: 1;
    padding-left: 10px; 
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100px;

}
.content_blog_item h3 {
margin-top: -13px; 
overflow: hidden;
 }
.content_blog_item h3 a {

 color: #333;
 font-size: 12px; 
 text-decoration: none; 

}


.content_blog_item h3 a:hover {
    color: #51B700; 
}
item_slide {
    margin-bottom: 10px;
}
.content_blog_slide h3 {
    font-size: 1.2em;
    margin-top: 5px;
}
.item_slide .item_slide_span img {
    width: 100%;
    height: auto;
}
    .swiper-container {
    overflow: hidden;
    width: 60%;
    position: relative;
    cursor: grab;
    margin-left:25px;
}

    .swiper-container:active {
        cursor: grabbing;
    }

.swiper-wrapper {
    display: flex;
    animation: scroll 12s infinite linear;
}

.swiper-slide {
    flex: 0 0 100%;
    max-width: 100%;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    20% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(-100%);
    }

    45% {
        transform: translateX(-100%);
    }

    50% {
        transform: translateX(-200%);
    }

    70% {
        transform: translateX(-200%);
    }
    85% {
        transform: translateX(-200%);
    }

    100% {
        transform: translateX(0%);
    }
}

.book-container {
    display: flex;
    flex-wrap:wrap;
    justify-items:center;
   margin-left:45px;

}
.title-modul {
    height: fit-content;
    width: 90%;
    padding: 15px;
    margin-left:5%;
    border-top: 1px solid;
}
.title-modul p {
    font-size:24px;
}
.book-card {
    border: 1px solid #ccc;
    padding: 20px;
    width: 200px;
    margin: 10px; 
    box-sizing: border-box; 
    margin-left: 20px;
}
.book-card:hover .buy-button{
        display:block;
}
.book-title {
        font-weight: bold;
        font-size: 13px;
        overflow:hidden;
        height:27px;
 }

.book-card img{
    width:150px
}
.book-details:hover {
    cursor:pointer;
    color:red;
}
.btn-buy {
    background-color: green;
    color: white;
    border: none;
    padding: 8px 20px;
    cursor: pointer;
}
.buy-button {
    margin: -36px 0 0 60px;
    display: none;
}
.btn-buy:hover {
    background-color: red;
}
.fa-bag-shopping:hover {
    background-color: red;
}
.fa-bag-shopping {
    color: white;
    padding: 10px;
    background-color: green;
    margin-left: -50px;
    cursor: pointer;
}

.form-register {
    margin-top: 50px;
    width: 100%;
    padding: 20px;
}
.btn-back-home{
    text-decoration:none;
    color:black;
}
    .btn-back-home:hover{
        text-decoration:none;
        color:red;
    }
    /* Media Queries */
    @media (max-width: 768px) {
        .navbar-toggle {
        display: block;
    }

    .buttons {
        display: none;
    }
}
.login-form {
    margin-top: 50px;
    padding: 20px;
    width: 100%;
    margin-bottom: 80px;
}
 .btn-detail {
    margin: 15px 0 0 10px;
    color:white;
    text-decoration:none;
}
    .btn-detail:hover{
        text-decoration:none;
        color:Highlight;
    }
.btn-warning {
    margin-left: 20px;
    padding: 10px;
    border-radius: 5px;
}
.btn-warning:hover {
    text-decoration: none;
    color: #fff;
    background-color: #ec971f;
    border-color: #d58512;
}
.Customer-detail {
    padding: 20px;
    margin-top: 70px;
    margin-left: 35%;
}

    .Customer-detail p a {
    padding: 10px;
    background-color: #f0ad4e;
    text-decoration: none;
    color: #fff;
    width: 70px;
    border-radius: 10px;
}
        .Customer-detail p a:hover {
            background-color: #d58512;
        }
.Detail-customer-edit {
    width: 45%;
    margin-left: 15%;
    margin-top: 8%;
}
/*footer*/
.img-brand-footer {
    width: 28%;
    height: 55px;
}
.footer {
    margin-top:-7%;
    background-color: lightgreen;
}
.book-details-img  {
    height: 280px;
}
.book-details-page {
    margin-top: 80px;
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center;
}
.book-details-btn 
{
    display: flex;
    gap: 10px; 
    align-items: center;
}
.cart-form {
    margin: 50px 0px 50px 0px;
    padding: 20px;
    width: 100%;
/*    margin-bottom: 155px;*/
}
.form-sum-cart{

}
